{% extends "base.html" %}

{% block title %}
  <title>{{ dish_type.name }}</title>
{% endblock %}

{% block content %}
  <h1>Here you can find all dishes with this type:</h1>
  <a href="{% url 'kitchen:dish-type-update' pk=dish_type.id %}">Update</a>
  <a style="color:red" href="{% url 'kitchen:dish-type-delete' pk=dish_type.id %}">Delete</a>
  {% if dish_type.dishes.all %}
    <ul>
      {% for dish in dish_type.dishes.all %}
        <li>
          <a href="{{ dish.get_absolute_url }}">
            {{ dish.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <h3>No dishes with this type found</h3>
  {% endif %}
{% endblock %}
